{% extends 'base.html' %}


{% block title %}About{% endblock title %}

{% block content %}
<h1>About us</h1>
<div>
  <p>The talk was created in 2025 to create an enviorment where people can come in dicuss debate and catch with friends family and the world. We proiritize respect and open dialoge. We understand that not everyone ideas and view are shared and agreed upon but the moment we stop talkin and engaging with each other is when we as people fail! So join us and let progress humanity together </p>
</div>
{% endblock content %}